*~
*#
*.swp
.nvim

*.DS_Store

__pycache__/
*.py[cod]
*$py.class
*.egg-info/


/.coverage
/.coverage.*
/.cache
/.pytest_cache
/.mypy_cache

src/nkilib_src/nkilib/version/__init__.py
/doc/_apidoc/
/build
!/build-tools/
/dist
/.venv
/bin/
/stubs
/wheelhouse/
log-neuron-cc.txt
neuron_test_output
compilation_artifacts
neuronx_cc*
.mise.toml
wasabi-toolbag
.attach_pid*
*.whl
tmp
pyrightconfig.json
.vscode
.env
*unison*
.idea
